
#quienes{
    color: whitesmoke;
}




.card {
    transition: box-shadow 0.3s;
}

.card:hover {
    box-shadow: 0 0 12px rgba(0, 0, 0, 0.5);
}


.icons {
    transition: transform 0.8s ease-in-out;
}

.icons :hover {
    transform: scale(1.3);

}

.card {
    position: relative;
    width: 225px;
    height: 385px;
    margin: 0 auto;
    border-radius: 15px;
    box-shadow: 0 15px 60px rgba(0, 0, 0, 0.5);
    font-size: small;
}